@model Book_Recommendation_System.Models.ErrorViewModel

<h1>Error</h1>

<p>An error occurred while processing your request. Request ID: @Model.RequestId</p>
<p>Error Message: @Model.Message</p>

<p>
    <a asp-action="Index">Back to Home</a>
</p>
