@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Welcome to our library!</h2>
    <p>Discover new worlds through the pages of a book. Explore your favorite genres and let our recommendations guide you to your next adventure.</p>
    <p>"Books are uniquely portable magic." - Stephen King</p>
    
</div>
